$color-primary: #2422ad;
$color-light: #6c9be2;
$color-dark: #8a5af8;
$color-light-2: #78b7db;
$color-dark-2: rgb(18, 162, 230);

$color-light-3: #c197cc;
$color-dark-3: rgb(163, 53, 206);

$color-gray-dark: #777;
$color-white: #fff;
$color-varied: #333;
$color-black: #000;


//Grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

//font size
$default-font-size: 1.6rem


