.composition {
  position: relative;
  top: 3rem;

  @include respond(tab-port){
    top: 5rem;
  }

  @include respond (phone){
    top: rem;
  }



  &__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .4);
    position: absolute;
    z-index: 10;
    transition: all .2s;
    outline-offset: 2rem;


    &--p1 {
      left: 4rem;
      top: -5rem;

      @include respond(phone){
        left: -1rem;
        top: -2rem;
      }

    }
    &--p2 {
      right: 0;
      top: -1rem;
    }
    &--p3 {
      left: 35%;
      top: 13rem;

      @include respond(phone){
        left: 20%;
        top: 8rem;
      }
    }
    &--p4 {
      left: 0;
      top: 9rem;

      @include respond(phone){
        display: none;
      }
    }


    &:hover {
      outline: 1rem solid $color-light;
      transform: scale(1.05);
      z-index: 20;
    }
  }

  &:hover &__photo:not(:hover) {
    transform: scale(.9);
  }
  
  
}